@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header .title {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

h1 {
    text-align: center;
}

:root {
    --Mint-green: #bee9e8;
    --Moonstone: #62b6cb;
    --Indigo-dye: #1b4965;
    --Columbia-blue: #cae9ff;
    --Picton-blue: #5fa8d3;
}

body {
    background-color: var(--Mint-green);
    font-family: 'Poppins', sans-serif;
}



.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}




.item {
    border-radius: 16px;
    background-color: var(--Indigo-dye);
}


.item:hover {
    box-shadow: 0px 0px 20px var(--Indigo-dye);
}

.description {
    padding: 15px 30px;
}

.item img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    transition: all 1s;
    /*Ajusta la imagen  */
}

.item:hover {
    transform: scale(1);
}

.item figure {
    overflow: hidden;
}

.description h2,
.price {
    text-align: center;
}

.description {
    background-color: var(--Indigo-dye) ;
    border-radius: 5px;
}

.description h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.title h1 {
    color:white;
    background-color: var(--Indigo-dye);
    border-radius: 16px;
    width: 300px;
    height: 90px;
    font-size: 35px;
}

.title {
    min-width: 1517px;
    justify-content: center;
}

.container {
    margin: 50px 400px;
}

.combos{
    min-width: 615px;
}


.combos .combo{
    border-radius: 16px;
    text-align: center;
    background-color: rgb(0, 204, 255);
    color: red;
}


.hours{
    display: flex;
    justify-content: center;
    min-width: 717px;
    margin-bottom: 50px;
}

.hours .recomendation{
    text-align: center;
    background-color: #5fa8d3;
    width: 30%;
    border-radius: 10px;
}

.product-description{
    text-align: center;
    color: white;
    font-size: 25px;
}

.price{
    color: #5fa8d3;
    font-size: 30px;
}

.item figure img{
    height: 200px;
}

/*  */


/* Estilos para pantallas pequeñas (por ejemplo, teléfonos) */
@media (max-width: 780px) {
    .container-items {
        grid-template-columns: repeat(1, 1fr); /* Cambiar a una sola columna */
        gap: 10px; /* Reducir el espacio entre elementos */
    }

    .item img {
        width: 100%;
        height: 75px;
        border-radius: 10px 10px 0 0;
        transition: all 1s;
        /*Ajusta la imagen  */
    }


    *{
        width: 900px;
    }



}
