@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-title .title {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

h1 {
    text-align: center;
}

:root {
    --Mint-green: #bee9e8;
    --Moonstone: #62b6cb;
    --Indigo-dye: #1b4965;
    --Columbia-blue: #cae9ff;
    --Picton-blue: #5fa8d3;
}

body {
    background-color: var(--Mint-green);
    font-family: 'Poppins', sans-serif;
}



.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}




.item {
    border-radius: 16px;
    background-color: var(--Indigo-dye);
}


.item:hover {
    box-shadow: 0px 0px 20px var(--Indigo-dye);
}

.description {
    padding: 15px 30px;
}

.item img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    transition: all 1s;
    /*Ajusta la imagen  */
}

.item:hover {
    transform: scale(1);
}

.item figure {
    overflow: hidden;
}

.description h2,
.price {
    text-align: center;
}

.description {
    background-color: var(--Indigo-dye) ;
    border-radius: 5px;
}

.description h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.title h1 {
    color:white;
    background-color: var(--Indigo-dye);
    border-radius: 16px;
    width: 300px;
    height: 90px;
    font-size: 35px;
    margin-top: 150px;
}

.title {
    min-width: 1517px;
    justify-content: center;
}

.container {
    margin: 50px 400px;
}

.combos{
    min-width: 615px;
}


.combos .combo{
    border-radius: 16px;
    text-align: center;
    background-color: rgb(0, 204, 255);
    color: red;
}


.hours{
    display: flex;
    justify-content: center;
    min-width: 717px;
    margin-bottom: 50px;
}

.hours .continue{
  text-align: center;
  background-color: #5fa8d3;
  width: 200px;
  border-radius: 10px;
}

.hours .continue a{
  text-decoration: none;
}

.hours a{
  color: white;
  text-decoration: none;
}


.hours a:hover{
  color: var(--Indigo-dye);
  text-decoration: none;
}

.hours .recomendation{
    text-align: center;
    background-color: #5fa8d3;
    width: 30%;
    border-radius: 10px;
}

.product-description{
    text-align: center;
    color: white;
    font-size: 25px;
}

.price{
    color: #5fa8d3;
    font-size: 30px;
}

.item figure img{
    height: 200px;
}

.information{
  text-align: center;
  font-size: 40px;
  min-width: 772px;
}







/* footer*/


footer {
    width: 100%;
    background: var(--Picton-blue);
    color: black;
    margin-top: 250px;
  
  }
  
  .container-footer-all {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
  }
  
  .container-body {
    display: flex;
    justify-content: space-between;
  }
  
  .colum1 {
    max-width: 400px;
  }
  
  .colum1 h1 {
    font-size: 22px;
  }
  
  .colum1 p {
    font-size: 14px;
    color: #101010;
    margin-top: 20px;
  }
  
  .colum2 {
    max-width: 400px;
  
  }
  
  .colum2 h1 {
    font-size: 22px;
  }
  
  .row {
    margin-top: 20px;
    display: flex;
  }
  
  .row i {
    width: 36px;
    height: 36px;
    font-size: 30px;
    transition: .5s;
  }
  
  .row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #101010;
  }
  
  .colum3 {
    max-width: 400px;
  }
  
  .colum3 h1 {
    font-size: 22px;
  }
  
  .row2 {
    margin-top: 20px;
    display: flex;
  }
  
  .row2 i {
    width: 36px;
    height: 36px;
    font-size: 30px;
    transition: .5s;
  }
  i:hover{
    transform: translateY(-10px);
  }
  .row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
  }
  
  .container-footer {
    width: 100%;
    background: #101010;
  }
  
  .footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .copyright {
    color: #C7C7C7;
  }
  
  .copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .information a {
    text-decoration: none;
    color: #C7C7C7;
  }
  
  

/* Estilos para pantallas pequeñas (por ejemplo, teléfonos) */
@media (max-width: 780px) {
    .container-items {
        grid-template-columns: repeat(1, 1fr); /* Cambiar a una sola columna */
        gap: 20px; /* Reducir el espacio entre elementos */
    }




    .container-title .title{
        justify-content: start;
        margin: 0px 35px;
        max-width: 500px;

    }

    .title h1{
        width: 73vw;
    }

    .title{
      min-width: 0px;
    }


    main{
        display: flex;
        max-width: 500px;
        justify-content:start;
    
    }

    .container{
        width: 80vw;
        margin: 0px 20px;
    }

    .hours{
        justify-content: flex-start;
        min-width: 350px;
    }

    .hours .recomendation{
        width: 73vw;
        margin-left:20px ;
    }

    .item{
        width: 80vw;
    }

    body{
        padding-left: 10px ;
    }
    


}






.nav{
  width: 100% !important;
  height: 95.09px;
  background-color: #5fa8d3;
}

/* footer*/


footer {
  width: 100%;
  background: var(--Picton-blue);
  color: black;
  margin-top: 250px;

}

.container-footer-all {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;
}

.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 22px;
}

.colum1 p {
  font-size: 14px;
  color: #101010;
  margin-top: 20px;
}

.colum2 {
  max-width: 400px;

}

.colum2 h1 {
  font-size: 22px;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row i {
  width: 36px;
  height: 36px;
  font-size: 30px;
  transition: .5s;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #101010;
}

.colum3 {
  max-width: 400px;
}

.colum3 h1 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 i {
  width: 36px;
  height: 36px;
  font-size: 30px;
  transition: .5s;
}
i:hover{
  transform: translateY(-10px);
}
.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer {
  width: 100%;
  background: #101010;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #C7C7C7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: #C7C7C7;
}